{% extends "base.html" %} {% block title %}Project{% endblock %} {% block content
    %}
    <br>
    <h1 style="color: rgb(0, 0, 0)">
        Projects
    </h1>
    
    <br>
    
    <ul class="nav nav-tabs">
        <a class="nav-link" id="researcher_projects" href="/project/researcher_projects">Projects - researcher</a>
        <a class="nav-link" id="organisation_projects" href="/project/organisation_projects">Projects - organisation</a>
        <a class="nav-link" id="best_3_scientific_field_duos" href="/project/best_3_scientific_Field_Duos">Top 3 Scientific Field Duos</a>
        
    </ul>
    
    {% endblock %}