{% extends "base.html" %} {% block title %}Researcher{% endblock %} {% block content
    %}
    <br>
    <h1 style="color: rgb(119, 19, 201)">Researchers</h1>
    
    <br>
    <ul class="nav nav-tabs">
      <a class="nav-link" id="Researchers_under_40_yo" href="/researcher/researchers_under_40_yo">Researchers under 40 years old</a>
      <a class="nav-link" id="Researchers_working_on_5_pj" href="/researcher/researchers_working_on_5_pj">Researchers working on 5 or more projects</a>
    
    </ul>
    <br>
    
    {% endblock %}